body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0d9b5;
    margin: 0;
}

#game-container {
    display: flex;
    gap: 20px;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    border: 5px solid #3a3a3a;
    width: 560px;
    height: 560px;
}

.square {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.piece {
    user-select: none; /* Evita la selección de texto de las piezas */
}

#game-info {
    width: 200px;
    padding: 10px;
    border: 2px solid #3a3a3a;
    background-color: #fff;
    border-radius: 5px;
}

#captured-pieces {
    margin-top: 20px;
}

#white-captured, #black-captured {
    min-height: 50px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 30px;
}